
:root {
  font-size: 1rem;
  --red-cmyk: #e21219; /* Red (CMYK) */
  --iris-blue: #5448c8; /* Iris Blue */
  --space-cadet: #222359; /* Space Cadet */
  --crayola-pink: #ff6978; /* Crayola Pink */
  --rich-black: #000e14; /* Rich Black */
  --cadet-gray: #a0a0a7; /* Cadet Gray */
  --white-smoke: #f5f5f5; /* White Smoke */

  /* Website Color Scheme */
  --dark-color: var(--rich-black);
  --light-color: var(--white-smoke);
  --light-gray: var(--cadet-gray);
  --primary-color: var(--iris-blue);
  --secondary-color: var(--space-cadet);
  --tertiary-color: var(--cadet-gray);
  --accent-color: var(--crayola-pink);

  --title-font: "Oooh Baby", cursive;
  --body-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
  color: var(--dark-color);
}

a {
  text-decoration: none;
  color: var(--dark-color);
}


